<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudentCollageBox</title>
</head>
<body>
    <div style="height:150px"/>
    <div align="center">
        <h1>Student Portal</h1>
        <button><a th:href="studentGetData">Get Data</a></button></br></br>
        <button><a th:href="studentEdit">Edit Student</a></button></br></br>
        <button><a th:href="studentDelete">Delete Student</a></button></br></br>
        <a th:href="studentLogIn">Log Out</a>
    </div>
</body>
</html>