<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudentCollageBox</title>
</head>
<body>
    <div style="height:100px"/>
    <div align="center">
        <h1>Student Portal</h1>
        </br>
        <table th:each="student:${studentData}">
            <tr>
                <td>Name : </td>
                <td th:text="${student.StudentName.firstName}"></td>
                <td th:text=" ${student.StudentName.middleName}"></td>
                <td th:text=" ${student.StudentName.lastName}"></td>
            </tr>
            <tr>
                <td>RollNO </td>
                <td th:text="${student.rollNo}"></td>
            </tr>
            <tr>
                <td>Branch : </td>
                <td th:text="${student.branch}"></td>
            </tr>
            <tr>
                <td>Semester : </td>
                <td th:text="${student.semester}"></td>
            </tr>
            <tr>
                <td>MobileNo : </td>
                <td th:text="${student.MobileNo}"></td>
            </tr>
        </table>
        <a th:href="studentOperation">Back to Operation </a>
    </div>
</body>
</html>