<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TeacherCollageBox</title>
</head>
<body>
    <div style="height:150px"/>
    <div align="center">
        <h1>Teacher Portal</h1>
        <button><a th:href="teacherGetData">Get Data</a></button></br></br>
        <button><a th:href="teacherEdit">Edit Teacher</a></button></br></br>
        <button><a th:href="teacherDelete">Delete Teacher</a></button></br></br>
        <button><a th:href="teacherStudentOperation">Check Student Data</a></button></br></br>
        <a th:href="teacherLogIn">Log Out</a>

    </div>
</body>
</html>